body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  width: 100vw;
  height: 200vh;
}

.App-background {
  position: fixed;
  z-index: 0;
  /* TODO: color of background */
}

.App-Logo {
  /* TODO get logo */
  width: 30%;
  height: 10%;
  margin: 10px;
  z-index: 2;
}

.Topbar {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  z-index: 1;
}

.Topbar-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  vertical-align: middle;
  z-index: 1;
}

.Topbar-button {
  background:none;
  border:none;
  margin: 2%;
  padding: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  z-index: 2;
}

.Search-content {
  width: 36%;
  height: 15%;
  padding: 1%;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  border-width: 1px;
  margin: 10px;
  vertical-align: middle;
  z-index: 2;
}

.Welcome {
  width: 100%;
  height: 550px;
  object-fit: cover;
  resize: horizontal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.Welcome-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  resize: horizontal;
  position: absolute;
  opacity: 70%;
  z-index: 1;
}

.Welcome-message {
  text-align: center;
  width: max-content;
  position: relative;
  background: white;
  opacity: 80%;
  border-radius: 10px;
  z-index: 2;
  /*display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  margin: 10px;
  padding: 10px;
}

.Welcome-text {
  margin: 5px;
}

.Explore-button {
  width: 40%;
  padding: 10px;
  background-color: #D66C7059;
  border-radius: 3px;
  border-width: 1px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.Location-bar {
  width: 100%;
  height: 6%;
  margin: 30px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  z-index: 1;
}

.Location-search {
  width: 30%;
  height: 15%;
  padding: 2%;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  border-width: 1px;
  margin: 20px;
  vertical-align: middle;
  z-index: 2;
}

.Location-button {
  background-color: white;
  margin: 2%;
  padding: 2%;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  z-index: 2;
}

